* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
  }
  
  header {
    background: url('bgimage.jpg') no-repeat center center/cover;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  nav {
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 15px 20px;
    z-index: 1000;
  }

  nav img.nav-logo {
    max-height: 40px;
    padding: 0 20px;
    z-index: 1000;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    padding-top: 1rem;
    background: #000;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  nav ul li {
    margin: 0 30px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  
  .header-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .header-content h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .header-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .social-links a {
    display: inline-block;
    margin: 0 15px;
  }
  
  .social-links img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
  }

  section {
    padding: 50px;
  }

  #about {
    background: url('bg2.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 50px;
    text-align: left;
  }
  
  #about img {
    max-width: 20%;
    border-radius: 10px;
  }
  
  #about .about-text {
    max-width: 65%;
  }
  
  #about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  #about p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  #ee {
    background: url('bg3.jpg') no-repeat center center/cover;
    height: 100vh;
    text-align: center;
    padding: 50px;
    display:block;
    justify-content: space-around;
    align-items: center;
  }

  #ee .education {
    max-width: 40%;
  }

  #ee .experience {
    max-width: 40%;
  }

  #ee h2 {
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 2.5rem;
    color: #f9f9f9;
  }
  
  .ee-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
  }
  
  .experience, .education {
    flex: 1;
    margin: 0 20px;
    padding: 20px 20px;
    border-radius: 20px;
    background-color: #f9f9f9;
  }
  
  .experience h3, .education h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  
  .experience ul, .education ul {
    list-style-type: none;
    padding: 0;
  }
  
  .experience ul li, .education ul li {
    margin-bottom: 20px;
  }
  
  .experience ul li h4, .education-column ul li h4 {
    font-size: 1.3rem;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .experience ul li p, .education ul li p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .ee-container ul li p:last-child {
    margin-bottom: 0;
  }
  
  #projects {
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
  }
  
  #projects h2 {
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 2.5rem;
    color: white;
  }

  #skills h2 {
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 2.5rem;
    color: black;
  }

  .project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
  }
  
  .project1 {
    background: url('bg1.jpg') no-repeat center center/cover;
    padding: 20px;
    margin: 10px; 
    width: 20%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    color: white;
    transition: transform 0.3s ease;
  }

  .project1 h3,  .project2 h3, .project3 h3, .skills h3{
    font-size: 1.8rem;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .project1 img, .project2 img, .project3 img {
    width: 30px;
    height: auto;
  }
  .project1:hover, .project2:hover, .project3:hover {
    transform: scale(1.05);
  }
  
  /* Hide the text initially */
  .project1 p,
  .project1 a,
  .project2 p,
  .project2 a,
  .project3 p,
  .project3 a {
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: relative;
  }

  .project1:hover p,
  .project1:hover a,
  .project2:hover p,
  .project2:hover a,
  .project3:hover p,
  .project3:hover a {
    opacity: 1;
    transform: translateY(0);
  }

  .project1 p, .project1 a, .project2 p, .project2 a, .project3 p, .project3 a {
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    transform: translateY(20px); /* Shift the text downwards initially */
  }

  .project2 {
    background: url('seamcarving.png') no-repeat center center/cover;
    padding: 20px;
    margin: 10px; 
    width: 20%;
    height: 50%;
    border-radius: 20px;
    overflow: hidden;
    color: white;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .project3 {
    background: url('aiml.jpg') no-repeat center center/cover;
    padding: 20px;
    margin: 10px; 
    width: 20%;
    height: 50%;
    border-radius: 20px;
    overflow: hidden;
    color: white;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  #skills {
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
  }

  .skills-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .skills-list li {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
